
.wsb-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #f7f7f7;
    background-repeat: repeat
}

.wsb-canvas-scrollable {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0
}

.wsb-canvas-page-container {
    width: 100%
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-position: 14px 14px;
    background-repeat: no-repeat
}

.btn [class^="icon-"] {
    margin-right: 4px
}

.wsb-preview-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto
}

.wsb-preview-desktop-container {
    margin: auto;
    width: 974px;
    height: 1200px;
    background-color: #f5ede0
}

.wsb-preview-desktop-page {
    position: absolute
}

.wsb-preview-mobile-container {
    width: 100%;
    height: 800px
}

.wsb-preview-mobile-phone-container {
    margin: 100px auto;
    width: 408px;
    height: 660px
}

.wsb-preview-mobile-phone {
    border: 30px solid black;
    border-bottom: 80px solid black;
    width: 408px;
    height: 660px;
    background-color: #FFF;
    overflow-y: scroll;
    border-radius: 20px
}

.wsb-media-gallery {
    margin: 0 auto;
    position: relative
}

.wsb-media-gallery-slider {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    position: relative
}

.wsb-media-gallery-slider.bordered {
    border: 15px solid #f5f5f5
}

.wsb-media-gallery-slider li {
    left: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 500px
}

.wsb-media-gallery-slider img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: relative
}

.wsb-media-gallery-slider img.autosize {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none
}

.wsb-media-gallery-caption {
    bottom: 0;
    position: absolute;
    color: #fff;
    background-color: #000;
    background-color: rgba(0, 0, 0, .75);
    text-align: left;
    padding: 10px
}

a .wsb-media-gallery-caption, a:link .wsb-media-gallery-caption, a:visited .wsb-media-gallery-caption, a:hover .wsb-media-gallery-caption {
    color: #fff
}

.wsb-media-gallery-pagination {
    text-align: center;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 5px
}

.wsb-media-gallery-pagination li {
    background-color: #969696;
    height: 10px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    -webkit-box-shadow: inset 0 2px 2px rgba(50, 50, 50, .5);
    box-shadow: inset 0 2px 2px rgba(50, 50, 50, .5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.wsb-media-gallery-pagination li.active {
    background-color: #98c22a;
    cursor: default
}

.wsb-media-gallery-pagination-thumbs-wrapper {
    display: block;
    position: absolute;
    left: 40px;
    right: 40px;
    overflow: hidden;
    bottom: 0
}

.wsb-media-gallery-pagination-thumbs {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 80px;
    position: relative
}

.wsb-media-gallery-pagination-thumbs li {
    background-color: transparent;
    height: 60px;
    width: 85px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid #fff;
    margin-top: 15px !important;
    cursor: pointer
}

.wsb-media-gallery-pagination-thumbs li.active {
    background-color: #3182e6;
    border: 2px solid #3182e6
}

.wsb-media-gallery-pagination-thumbs-left-arrow, .wsb-media-gallery-pagination-thumbs-right-arrow {
    width: 30px;
    height: 62px;
    display: block;
    position: absolute;
    bottom: 1px;
    background-color: #474747;
    border: 1px solid #474747;
    background-image: url(https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/images/wsb-slideshow-nav-arrows-sprt.png);
    background-repeat: no-repeat
}

.wsb-media-gallery-pagination-thumbs-left-arrow {
    background-position: 10px -133px
}

.wsb-media-gallery-pagination-thumbs-right-arrow {
    background-position: 10px -29px
}

.wsb-media-gallery-pagination-thumbs-left-arrow.enabled, .wsb-media-gallery-pagination-thumbs-right-arrow.enabled {
    border: 1px solid #777;
    cursor: pointer
}

.wsb-media-gallery-pagination-thumbs-left-arrow.enabled {
    background-position: 10px -81px
}

.wsb-media-gallery-pagination-thumbs-right-arrow.enabled {
    background-position: 10px 23px
}

.wsb-media-gallery-pagination-thumbs-left-arrow.enabled:hover, .wsb-media-gallery-pagination-thumbs-right-arrow.enabled:hover {
    background-color: #777;
    border: 1px solid #777
}

.wsb-media-gallery-pagination-thumbs-left-arrow {
    left: 0
}

.wsb-media-gallery-pagination-thumbs-right-arrow {
    right: 0
}

.wsb-media-gallery-pagination-thumbs-thumbnail-wrapper {
    height: 60px;
    width: 85px;
    display: block;
    vertical-align: middle;
    text-align: center;
    overflow: hidden
}

.wsb-media-gallery-pagination-thumbs-thumbnail-wrapper img {
    min-width: 75px;
    min-height: 50px;
    position: relative;
    height: auto;
    width: auto
}

.wsb-media-gallery .wsb-media-gallery-arrows-left-arrow, .wsb-media-gallery .wsb-media-gallery-arrows-right-arrow {
    width: 22px;
    height: 42px;
    position: absolute;
    cursor: pointer;
    background-image: url(https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/images/wsb-slideshow-arrows.png)
}

.wsb-media-gallery-arrows-left-arrow {
    background-position: 0 0;
    left: 0
}

.wsb-media-gallery-arrows-right-arrow {
    background-position: 22px 0;
    right: 0
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-left-arrow {
    top: 0;
    width: 20%;
    min-width: 40px;
    position: absolute;
    cursor: pointer;
    background-image: url(https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/images/wsb-slideshow-left-arrow.png);
    background-position: center center;
    background-repeat: no-repeat
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-right-arrow {
    top: 0;
    width: 20%;
    min-width: 40px;
    position: absolute;
    cursor: pointer;
    background-image: url(https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/images/wsb-slideshow-right-arrow.png);
    background-position: center center;
    background-repeat: no-repeat
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-left-arrow {
    left: 0
}

.wsb-media-gallery .wsb-media-gallery-arrows-hover-right-arrow {
    right: 0
}

.wsb-media-gallery .wsb-media-gallery-overlay {
    text-align: center
}

.wsb-media-carousel {
    text-align: center;
    position: relative;
    height: auto;
    vertical-align: middle
}

.wsb-media-carousel .wsb-media-carousel-wrapper {
    display: inline-block;
    text-align: center;
    overflow: hidden
}

.wsb-media-carousel .wsb-media-carousel-wrapper img {
    height: auto;
    width: auto;
    position: relative
}

.wsb-media-carousel .wsb-media-carousel-overlay {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
}

@font-face {
    font-family: "WSB Mobile Navigation";
    src: url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.eot");
    src: local("☺"), url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.eot?#iefix") format("embedded-opentype"),
    url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.woff") format("woff"),
    url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.ttf") format("truetype"),
    url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.svg#wsbmobilenav") format("svg")
}

@media screen and (max-device-width: 480px) {
    @font-face {
        font-family: "WSB Mobile Navigation";
        src: url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.woff") format("woff"),
        url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.ttf") format("truetype"),
        url("https://img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v2/fonts/wsb-mobile-nav.svg#wsbmobilenav") format("svg")
    }
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0)
}

#mobile-site-view {
    position: relative;
    top: 0;
    bottom: 0
}

#mobile-site-view .mobile-menu, #mobile-site-view .mobile-menu a, #mobile-site-view .mobile-menu a:hover, #mobile-site-view .mobile-menu a:visited, #mobile-site-view .mobile-nav, #mobile-site-view .mobile-nav a, #mobile-site-view .mobile-nav a:hover, #mobile-site-view .mobile-nav a:visited {
    font-family: Arial, sans-serif
}

.mobile-hamburger{
    float: left
}

.mobile-hamburger:before {
    content: "\aaaf";
    position: absolute;
    top: 18px;
    left: 4px;
    font-size: 36pt
}

#mobile-site-view .icon-wsb-mobile {
    background: 0;
    font-family: 'WSB Mobile Navigation';
    speak: none;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    -webkit-font-smoothing: antialiased
}

#mobile-site-view .icon-wsb-mobile.down:before {
    content: "\25bc"
}

.phone:before {
    content: "\aaad";
    position: absolute;
    top: 16px;
    left: 6px;
    font-size: 34pt
}

.marker:before {
    content: "\aaae";
    position: absolute;
    top: 16px;
    left: 4px;
    font-size: 36pt
}

#mobile-site-view .mobile-menu {
    margin: 0;
    padding: 0;
    font-size: 0;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

#mobile-site-view .mobile-menu.fixed {
    position: fixed
}

#mobile-site-view .mobile-menu button {
    width: 48px;
    height: 50px;
    border: 0;
    background-color: transparent;
    padding: 0;
    position: absolute
}

#mobile-site-view .mobile-menu button i {
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    margin: 4px;
    width: 40px;
    position: relative;
    border-radius: 5px
}

#mobile-site-view .mobile-menu button.btn-2 {
    position: absolute;
    right: 54px;
    padding-right: 2px;
    outline: 0
}

#mobile-site-view .mobile-menu button.btn-1 {
    position: absolute;
    right: 4px;
    padding-left: 2px;
    outline: 0
}

#mobile-site-view .mobile-menu .nav-current {
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    font-weight: normal;
    left: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px 0 15px;
    position: absolute;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    outline: 0
}

.toggle-nav {
    outline: 0
}

#mobile-site-view .mobile-menu .nav-current.leftBtn-0 {
    left: 0;
    outline: 0
}

#mobile-site-view .mobile-menu .nav-current.btns-1 {
    right: 50px;
    outline: 0
}

#mobile-site-view .mobile-menu .nav-current.btns-2 {
    right: 100px;
    outline: 0
}

#mobile-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: .5;
    top: 50px;
    background-color: black;
    display: none;
    z-index: 10000
}

#mobile-site-view .mobile-nav {
    position: absolute;
    float: left;
    top: 0;
    bottom: 0;
    right: 100%;
    font-size: 16pt;
    padding: 0;
    z-index: 10001;
    height: calc(100% - 0)
}

#mobile-site-view .mobile-nav ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto
}

#mobile-site-view .mobile-nav ul li {
    height: 51px;
    position: relative
}

#mobile-site-view .mobile-nav ul li:last-child {
    border-bottom: 0
}

#mobile-site-view .mobile-nav ul li a {
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 25px 0 25px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16pt;
    font-weight: normal;
    margin: 0
}

#mobile-site-view .mobile-nav ul li a.sub-1 {
    padding-left: 50px
}

#mobile-site-view .mobile-nav ul li a.sub-2 {
    padding-left: 100px
}

#mobile-site-view .mobile-nav ul li a.sub-3 {
    padding-left: 150px
}

#mobile-site-view .mobile-nav ul li a.active {
    font-weight: bold
}

.mobilepod {
    padding: 5px 5px 10px 5px !important;
    overflow: hidden
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin-top: 0;
    margin-bottom: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    margin: 0
}

body {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.3;
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.17em
}

h4 {
    font-size: 1em
}

h5 {
    font-size: .83em
}

h6 {
    font-size: .67em
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.customform_label.adjacent {
    height: auto
}

.fb_iframe_widget {
    border: none !important
}

.wsb-canvas-scrollable {
    min-width: 1200px
}

.txt {
    word-wrap: break-word
}

.txt table {
    max-width: 100%
}

.wsb-element-text a, .wsb-text-element a {
    font-size: inherit !important
}

.shape {
    border: 1px solid #a9b4bb;
    background-color: #e5edf2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.shape_rounded_corners {
    background: #5fbf00;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.shape_circle {
    background: #5fbf00;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.shape_rectangle {
    background: #5fbf00
}

.form-row-designer-override {
    margin-bottom: 15px
}

.form-label {
    display: block;
    margin-bottom: 3px;
    cursor: default
}

.form-value {
    display: block;
    width: 100%;
    *width: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 5px
}

textarea.form-value {
    resize: none
}

.form-button-disabled {
    cursor: default;
    opacity: .4;
    filter: alpha(opacity=40)
}

.form-value-invalid {
    border: 1px solid #d00000 !important;
    background-color: #ffdcdc !important
}

.form-req {
    color: red;
    font-size: 100%
}

label > span.form-req {
    font-size: 100%
}

.form-label-adjacent {
    vertical-align: top;
    display: inline-block;
    margin: 5px;
    min-width: 100px;
    width: 140px
}

.form-label-above {
    vertical-align: top;
    display: block;
    padding-bottom: 5px
}

.form-field-adjacent {
    vertical-align: top;
    display: inline-block;
    white-space: normal
}

.form-field-above {
    vertical-align: top;
    display: block;
    white-space: normal
}

div.form-options-vertical {
    display: block;
    white-space: normal
}

div.form-options-horizontal {
    display: inline-block;
    min-width: 75px;
    margin-right: 8px;
    white-space: normal
}

div.form-options-vertical input, div.form-options-horizontal input {
    margin: 0
}

.customform .sf-upload-btns {
    position: relative;
    top: -20px
}

label.sf-btn-minor.sf-btn-file {
    color: #fff !important;
    background-color: #8a8a8a;
    background: -moz-linear-gradient(top, #8a8a8a 0, #5c5c5c 100%);
    background: -o-linear-gradient(top, #8a8a8a 0, #5c5c5c 100%);
    background: -ms-linear-gradient(top, #8a8a8a 0, #5c5c5c 100%);
    background: linear-gradient(to bottom, #8a8a8a 0, #5c5c5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#5c5c5c', GradientType=0);
    font-family: "Maven Pro", Arial, Verdana, sans-serif !important;
    font-weight: normal !important;
    display: inline-block;
    font-size: 15px;
    height: 32px;
    min-width: 58px;
    line-height: 33px;
    padding: 1px 11px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none !important;
    border: 0;
    font-style: normal;
    outline: 0;
    margin-top: 0;
    margin-bottom: 0
}

span.sf-upload-status {
    position: relative;
    top: 40px
}

.customform .sf-upload-list li {
    margin: 0 !important
}

a.delete-file-btn {
    background-position: 4px -4550px;
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    background-image: url('//img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v1/images/wsb-v7-sprite.png');
    background-repeat: no-repeat;
    width: 23px;
    height: 22px;
    position: absolute;
    cursor: pointer
}

.customform .sf-upload-value {
    background: url('//img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v1/images/upload-animation_gray.gif') !important;
    background-repeat: repeat-x;
    filter: none
}

.customform input.form-value.datefield, .customform input.form-value.timefield, .customform select.form-value.timefield {
    display: inline-block;
    font-size: inherit !important;
    font-family: inherit !important;
    height: inherit !important
}

.customform input.form-value.datefield {
    width: 140px
}

.customform input.form-value.timefield {
    width: 100px
}

.customform select.form-value.timefield {
    width: 113px;
    padding-bottom: 3px
}

.customform .indent {
    margin-left: 20px
}

.customform span.from-to-label {
    display: inline-block
}

.customform .fromto-label-left {
    min-width: 40px;
    display: inline-block
}

.customform .to-label-middle {
    min-width: 24px;
    display: inline-block;
    text-align: center
}

.customform_overlay, .customform_overlay_button {
    position: absolute;
    top: -10px;
    left: -20px;
    overflow: hidden;
    cursor: url('//img1.wsimg.com/wst/v7/WSB7_J_20180417_0438_WSB-17329_1387/v1/modules/wsb/toolbox/cursor/openhand.cur'), auto !important;
    z-index: 100000;
    opacity: 0
}

.customform_overlay {
    margin: 0 auto
}

.opt-in {
    display: table-cell
}

.opt-in-checkbox {
    margin: 5px;
    display: inline-block
}

.opt-in-label {
    display: table !important
}

.ui-autocomplete {
    position: fixed !important;
    cursor: default !important;
    padding-left: 0 !important;
    list-style-type: none !important
}

.wsb-autocomplete-item-text {
    background: #f3f3f3;
    font-size: 14px;
    border: solid 1px lightgray;
    display: block;
    padding: 7px 10px 7px 10px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: black
}

.wsb-autocomplete-item-text:hover, .wsb-autocomplete li.selected > .wsb-autocomplete-item-text {
    background-color: #7FB133;
    color: #fff
}

.wsb-autocomplete-item-link, .wsb-autocomplete-item-link:hover {
    text-decoration: none
}

.img_border_shadow {
    border: 5px #fff solid;
    -webkit-box-shadow: 0 2px 7px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0 2px 7px rgba(50, 50, 50, 0.6);
    box-shadow: 0 2px 7px rgba(50, 50, 50, 0.6)
}

.img_shadow {
    -webkit-box-shadow: 0 3px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 3px 7px rgba(50, 50, 50, 0.75);
    box-shadow: 0 3px 7px rgba(50, 50, 50, 0.75)
}

.img_rounded_corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden
}

.wsb-nav {
    position: relative;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background-repeat: repeat
}

.wsb-nav.mobile {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto
}

.wsb-nav.mobile > a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap
}

.wsb-nav ul {
    display: table;
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style-type: none
}

.nav-btn-left {
    text-align: left
}

.nav-btn-left > ul {
    margin-left: 0
}

.nav-btn-left.nav-vertical > ul {
    text-align: left
}

.nav-btn-center {
    text-align: center
}

.nav-btn-center.nav-vertical > ul {
    text-align: center
}

.nav-btn-right {
    text-align: right
}

.nav-btn-right > ul {
    margin-right: 0
}

.nav-btn-right.nav-vertical > ul {
    text-align: right
}

.nav-btn-stretch > ul {
    width: 100%
}

.mobile.nav-text-left, .nav-text-left > ul > li {
    text-align: left
}

.mobile.nav-text-right, .nav-text-right > ul > li {
    text-align: right
}

.mobile.nav-text-center, .nav-text-center > ul > li {
    text-align: center
}

.nav-horizontal > ul > li {
    display: inline-block
}

.nav-horizontal.nav-btn-stretch > ul > li, .nav-horizontal.nav-equal-width > ul > li {
    display: table-cell
}

.nav-vertical > ul > li {
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-width: 0 !important
}

.nav-vertical.nav-btn-left > ul > li {
    margin-left: 0
}

.nav-vertical.nav-btn-right > ul > li {
    margin-right: 0
}

.nav-vertical.nav-btn-stretch > ul > li, .nav-vertical.nav-equal-width > ul > li {
    display: block
}

.wsb-nav li.has-children > a:after {
    content: ' ►';
    display: none
}

.wsb-nav.nav-horizontal > ul > li.has-children > a:after {
    content: ' ▼';
    display: none
}

.wsb-nav > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: solid 1px #efefef;
    width: 200px
}

.wsb-nav > ul ul li a {
    color: #333;
    padding: .25em .6em;
    display: block;
    text-decoration: none
}

.wsb-nav > ul ul li:hover > a {
    background-color: #efefef
}

.nav_simple > ul > li {
    border-right: 1px #aeaeae solid;
    padding: 0 20px
}

.nav_simple > ul > li:last-child {
    border-right: 0
}

.nav_simple > ul > li > a:hover {
    text-decoration: none
}

.wsb-button {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    *display: block;
    *width: auto;
    font-style: normal;
    font-weight: normal;
    position: relative
}

.wsb-button-content p {
    margin: 0 !important
}

.wsb-button-content {
    display: table-cell;
    min-width: 10px;
    min-height: 18px;
    vertical-align: middle;
    text-align: center;
    *display: block
}

.button, .button:link, .button:visited, .button:hover, .button:active {
    background: #348bcf;
    background: #348bcf url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0OGJjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjVjYTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #348bcf 0, #125ca6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #348bcf), color-stop(100%, #125ca6));
    background: -webkit-linear-gradient(top, #348bcf 0, #125ca6 100%);
    background: -o-linear-gradient(top, #348bcf 0, #125ca6 100%);
    background: -ms-linear-gradient(top, #348bcf 0, #125ca6 100%);
    background: linear-gradient(to bottom, #348bcf 0, #125ca6 100%);
    font-family: Arial, Verdana, sans-serif;
    color: white;
    border: 1px solid #125ca6;
    border-radius: 5px;
    padding: 5px 10px
}

.button_green, .button_green:link, .button_green:visited, .button_green:hover, .button_green:active {
    background: #5fcf34;
    background: #5fcf34 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmY2YzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZWE2MTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #5fcf34 0, #1ea612 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5fcf34), color-stop(100%, #1ea612));
    background: -webkit-linear-gradient(top, #5fcf34 0, #1ea612 100%);
    background: -o-linear-gradient(top, #5fcf34 0, #1ea612 100%);
    background: -ms-linear-gradient(top, #5fcf34 0, #1ea612 100%);
    background: linear-gradient(to bottom, #5fcf34 0, #1ea612 100%);
    font-family: Arial, Verdana, sans-serif;
    color: white;
    border: 1px solid #30A612;
    border-radius: 5px;
    padding: 5px 10px
}

.button_red, .button_red:link, .button_red:visited, .button_red:hover, .button_red:active {
    background: #f00;
    background: #f00 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f00 0, #c00000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f00), color-stop(100%, #c00000));
    background: -webkit-linear-gradient(top, #f00 0, #c00000 100%);
    background: -o-linear-gradient(top, #f00 0, #c00000 100%);
    background: -ms-linear-gradient(top, #f00 0, #c00000 100%);
    background: linear-gradient(to bottom, #f00 0, #c00000 100%);
    font-family: Arial, Verdana, sans-serif;
    color: white;
    border: 1px solid #a61212;
    border-radius: 5px;
    padding: 5px 10px
}

.button_grey, .button_grey:link, .button_grey:visited, .button_grey:hover, .button_grey:active {
    background: #fff;
    background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fff 0, #d1d1d1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d1d1d1));
    background: -webkit-linear-gradient(top, #fff 0, #d1d1d1 100%);
    background: -o-linear-gradient(top, #fff 0, #d1d1d1 100%);
    background: -ms-linear-gradient(top, #fff 0, #d1d1d1 100%);
    background: linear-gradient(to bottom, #fff 0, #d1d1d1 100%);
    border: 1px solid #afafaf;
    font-family: Arial, Verdana, sans-serif;
    color: #414141;
    border-radius: 5px;
    padding: 5px 10px
}

.map {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.map iframe {
    position: relative;
    border-style: none;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.map a.larger-map-link, .map a.larger-map-link:link, .map a.larger-map-link:visited, .map a.larger-map-link:hover {
    position: absolute;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 5px 5px 5px 10px;
    left: 0;
    right: 0;
    display: block;
    background-color: #545454;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: normal;
    font-style: normal
}

.mapbox-leaflet-zoom-control-bottom {
    bottom: 20px !important
}

.mapbox-legend-padding {
    padding: 0 !important
}

.shadow_lifted:before, .shadow_lifted:after, .shadow_curved_horizontal:before, .shadow_curved_horizontal:after, .shadow_curved_vertical:before, .shadow_curved_vertical:after {
    content: "";
    position: absolute;
    z-index: -2
}

.shadow_drop_shadow {
    -webkit-box-shadow: 0 3px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 3px 7px rgba(50, 50, 50, 0.75);
    box-shadow: 0 3px 7px rgba(50, 50, 50, 0.75)
}

.shadow_lifted:before, .shadow_lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg)
}

.shadow_lifted:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg)
}

.shadow_curved_horizontal:before, .shadow_curved_vertical:before {
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 50%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-border-radius: 10px / 100px;
    border-radius: 10px / 100px
}

.shadow_curved_horizontal:before {
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px
}

.shadow_curved_vertical:before {
    right: 0
}

.mobilepod .shadow_curved_vertical:before {
    display: none
}

.mobilepod .shadow_curved_horizontal:before {
    display: none
}

.body {
    color: #426174;
    font-size: 15px;
    font-family: 'Open Sans', 'sans-serif'
}

.page {
    box-shadow: none;
    border: 1px solid none;
    padding-bottom: 0
}

.txt a:link {
    color: #333
}

.txt a:hover {
    color: #6f98ac
}

.txt a:visited {
    color: #507989
}

.txt a:active {
    color: #507989
}

.wsb-canvas-page-container {
    overflow-x: hidden !important
}

.wsb-media-gallery-pagination {
    display: none
}

.nav_theme {
    background: 0
}

.nav_theme ul > li > a {
    text-decoration: none;
    display: block;
    padding: 42px 15px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-transform: none;
    margin: 2px;
    font-weight: 300
}

.nav_theme ul > li:hover a, .nav_theme ul > li.active a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    transition-timing-function: ease;
    transition-duration: .8s
}

.nav_theme .nav-subnav {
    border: 0;
    border-bottom: 0;
    background-color: #000
}

.nav_theme .nav-subnav li a {
    padding: 3px 15px;
    border-bottom: 0;
    color: #fff
}

.nav_theme .nav-subnav li a:hover {
    background-color: #777;
    color: #fff
}

h1 {
    font-size: 38px;
    color: #888;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

h1.editor_bodyStyle {
    color: #426174;
    font-size: 15px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600
}

h2 {
    font-size: 28px;
    color: #224577;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

h3 {
    font-size: 30px;
    color: #587e97;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 1.6
}

h5 {
    font-size: 30px;
    color: #507989;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

h6 {
    font-size: 38px;
    color: #888;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

.editor_Logo {
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

.editor_LogoTagline {
    font-size: 33px;
    color: #444;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

.editor_paragraph1 {
    line-height: 1.6;
    color: #fff;
    font-size: 15px
}

.button_custom {
    background-color: #517989;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif
}

.button_custom:hover {
    background-color: #3b5a7b;
    color: #fff
}

.button_stroke {
    background-color: rgba(255, 255, 255, .3);
    color: #fff;
    border: 3px solid #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif
}

.button_stroke:hover {
    background-color: #355E6B;
    color: #fff;
    border: 3px solid #fff;
    transition-timing-function: ease;
    transition-duration: .8s
}

.button_stroke1 {
    background-color: rgba(255, 255, 255, .3);
    color: #517989;
    border: 3px solid #517989;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif
}

.button_stroke1:hover {
    background-color: #517989;
    color: #fff;
    border: 3px solid #517989;
    transition-timing-function: ease;
    transition-duration: .8s
}

.sha .form-label-above {
    color: #fff !important
}

.form-submit {
    border-radius: 0;
    background-color: #fff;
    color: #517989;
    padding: 10px 15px;
    border: 0;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif
}

.form-submit :hover {
    background-color: #194557;
    color: #fff
}

#wsb-canvas-template-footer {
    background-color: #3e3e45;
    height: 200px !important;
    width: 100% !important;
    color: #fff
}

#wsb-canvas-template-footer-container {
    width: 1000px;
    left: 50%;
    margin-left: -500px
}

.img_custom {
    border: 4px solid transparent;
    outline: 4px solid #fff
}

.shape_arrow1, .shape_arrow2, .shape_arrow3 {
    width: 216px !important;
    height: 179px !important;
    display: inline-block;
    position: relative;
    border: 8px solid white
}

.shape_arrow1:before, .shape_arrow2:before, .shape_arrow3:before {
    content: "";
    position: absolute;
    bottom: -26px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 108px 0 108px
}

.shape_arrow1 {
    background: #6f98ac
}

.shape_arrow1:before {
    border-color: #6f98ac transparent transparent transparent
}

.shape_arrow2 {
    background: #507989
}

.shape_arrow2:before {
    border-color: #507989 transparent transparent transparent
}

.shape_arrow3 {
    background: #355e6b
}

.shape_arrow3:before {
    border-color: #355e6b transparent transparent transparent
}

.shape_parallax_nav {
    background: url(//nebula.wsimg.com/c87b131bfcdd988c5ddc5edeb9a21631?AccessKeyId=531592D248B589D87A56&allowOrigin=1&disposition=0) top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    opacity: none;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 0 #333
}

.shape_parallax_nav:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: #005fbf;
    background: transparent \9;
    background: rgba(0, 28, 66, 0.75);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f005FBF, endColorstr=#7f005FBF);
    zoom: 1
}

.shape_parallax {
    background: url(//nebula.wsimg.com/c87b131bfcdd988c5ddc5edeb9a21631?AccessKeyId=531592D248B589D87A56&allowOrigin=1&disposition=0) top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    opacity: none;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 0 #333
}

.shape_parallax:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: #005fbf;
    background: transparent \9;
    background: rgba(0, 95, 191, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f005FBF, endColorstr=#7f005FBF);
    zoom: 1
}

.shape_parallax2 {
    background: url(//nebula.wsimg.com/c87b131bfcdd988c5ddc5edeb9a21631?AccessKeyId=531592D248B589D87A56&allowOrigin=1&disposition=0) top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    opacity: none;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 0 #333
}

.shape_parallax2:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    background: transparent \9;
    background: rgba(235, 243, 255, 0.9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f005FBF, endColorstr=#7f005FBF);
    zoom: 1
}

.shape_TransHero {
    background: #005fbf;
    background: transparent \9;
    background: rgba(0, 95, 191, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f005FBF, endColorstr=#7f005FBF);
    zoom: 1
}

.shape_navbar {
    background: #000;
    background: transparent \9;
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    zoom: 1;
    border-bottom: 3px solid #A8B0C4
}

.shape_TransWhite {
    background: #fff;
    background: transparent \9;
    background: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
    zoom: 1
}

#locu-render-output .locu-wsb {
    font-family: inherit;
    font-weight: normal;
    color: #333;
    padding-right: 10px
}

#locu-render-output .locu-wsb .locu-nav {
    border-bottom: 0;
    text-align: left
}

#locu-render-output .locu-wsb .locu-nav .locu-tab {
    font-family: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    text-transform: none;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0;
    margin: 0;
    border: 0 none;
    letter-spacing: 1px;
    padding: 5px 20px;
    background-color: #f2f2f2;
    color: #444
}

#locu-render-output .locu-wsb .locu-nav .locu-tab.locu-active, #locu-render-output .locu-wsb .locu-nav .locu-tab:hover {
    background-color: #e2e2e2
}

#locu-render-output .locu-wsb .locu-section-name-inner:before, #locu-render-output .locu-wsb .locu-section-name-inner:after {
    display: none
}

#locu-render-output .locu-wsb .locu-section-name {
    font-family: inherit;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    margin: 30px 0 0 0;
    padding: 0;
    font-weight: normal
}

#locu-render-output .locu-wsb .locu-section-name-inner {
    font-size: 26px;
    padding: 0;
    margin: 10px 0;
    font-weight: normal;
    line-height: 110%;
    letter-spacing: 0
}

#locu-render-output .locu-wsb .locu-subsection {
    text-align: left;
    margin: 0;
    padding: 0
}

#locu-render-output .locu-wsb .locu-subsection-name {
    font-family: inherit;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: normal;
    text-align: left;
    font-style: italic;
    margin: 0;
    padding: 0;
    letter-spacing: 0
}

#locu-render-output .locu-wsb .locu-menu-item-name {
    font-family: inherit;
    font-size: 16px;
    width: 80%;
    margin-bottom: 3px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-weight: normal;
    position: static;
    margin-right: 0;
    display: inline;
    margin-top: 20px
}

#locu-render-output .locu-wsb .locu-menu-item-description {
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
    font-style: italic;
    line-height: 140%
}

#locu-render-output .locu-wsb .locu-note {
    font-family: inherit;
    font-style: italic;
    width: 80%;
    line-height: 130%
}

#locu-render-output .locu-wsb .locu-option-group {
    font-family: inherit
}

#locu-render-output .locu-wsb .locu-option-group-name {
    font-family: inherit;
    font-size: 13px;
    margin: 15px 0 0
}

#locu-render-output .locu-wsb .locu-option-name {
    font-family: inherit;
    font-style: normal;
    font-size: 13px;
    padding: 0;
    line-height: 130%
}

#locu-render-output .locu-wsb .locu-option-price {
    font-family: inherit;
    font-size: 13px;
    padding-left: 15px;
    margin: 0 5px;
    color: #222
}

#locu-render-output .locu-wsb.locu-attribution-footer {
    padding-top: 30px;
    text-align: left
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-nav .locu-tab {
    display: inline-block;
    margin: 0
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-menu-name {
    display: none
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-section-name {
    padding: 0;
    margin-top: 20px;
    border-bottom: 0
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-subsection-name {
    font-family: inherit;
    padding: 0;
    font-size: 18px;
    margin: 0;
    font-style: italic
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-section-name-inner {
    font-size: 24px;
    padding: 0;
    letter-spacing: 0;
    font-weight: bold
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-note {
    font-family: inherit;
    font-style: italic;
    margin: 0;
    width: 100%;
    text-align: center
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-menu-item-price {
    font-family: inherit;
    position: static;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 8px
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-menu-item-description {
    font-size: 14px
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-subsection-name {
    font-size: 20px;
    font-style: italic;
    padding: 0
}

#locu-render-output .locu-mobile-menu .locu-wsb .locu-menu-item-name {
    font-size: 16px
}

#locu-render-output .locu-web-menu .locu-wsb .locu-menu-item-price {
    font-family: inherit;
    position: static;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 8px
}

.nav_theme ul > li > a {
    text-decoration: none;
    display: block;
    padding: 42px 15px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    color: #000;
    text-transform: none;
    margin: 2px;
    font-weight: 400
}

.nav_theme ul > li:hover a, .nav_theme ul > li.active a {
    text-decoration: none;
    color: #dd492f;
    background-color: rgba(255, 255, 255, .2);
    transition-timing-function: ease;
    transition-duration: .8s
}

.body {
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans', 'sans-serif';
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    line-height: 1.6
}

h3 {
    font-size: 30px;
    color: #dd492f;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

h1.editor_bodyStyle {
    color: #000;
    font-size: 15px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600
}

h5 {
    font-size: 30px;
    color: #dd492f;
    font-weight: 400;
    font-family: 'Lato', sans-serif
}

h2 {
    font-size: 28px;
    color: #000;
    font-weight: 300;
    font-family: 'Lato', sans-serif
}

.button_custom {
    background-color: #A1A1A1;
    color: #dd492f;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif
}

.button_custom:hover {
    background-color: #dd492f;
    color: #fff
}

.shape_arrow1 {
    background: #A1A1A1
}

.shape_arrow1:before {
    border-color: #A1A1A1 transparent transparent transparent
}

.shape_arrow2 {
    background: #dd492f
}

.shape_arrow2:before {
    border-color: #dd492f transparent transparent transparent
}

.shape_arrow3 {
    background: #A1A1A1
}

.shape_arrow3:before {
    border-color: #A1A1A1 transparent transparent transparent
}

.shape_parallax {
    background: url(//nebula.wsimg.com/896606a6f9a4fb1beb868f10803b2fa7?AccessKeyId=BA52A0A87931453CD4E1&disposition=0&alloworigin=1) top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    opacity: none;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 0 #333
}

.shape_parallax:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: #005fbf;
    background: transparent \9;
    background: rgba(0, 0, 191, 0.0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f005FBF, endColorstr=#7f005FBF);
    zoom: 1
}

.shape_parallax2 {
    background: url(//nebula.wsimg.com/896606a6f9a4fb1beb868f10803b2fa7?AccessKeyId=BA52A0A87931453CD4E1&disposition=0&alloworigin=1) top center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    opacity: none;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 0 #333
}

.shape_parallax2:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    background: transparent \9;
    background: rgba(255, 255, 255, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f005FBF, endColorstr=#7f005FBF);
    zoom: 1
}

.addthis-smartlayers h2 {
    background-color: transparent !important;
    border: none !important
}

.form-submit {
    margin-top: 30px !important
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none
}

.mobilepod .txt table {
    width: 100% !important;
    table-layout: fixed
}

.customform input.form-value.datefield {
    padding-top: 6px !important
}