@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Lato/AnyConv.com__Lato-Light.eot'),
    url('../../assets/fonts/Lato/AnyConv.com__Lato-Light.woff') format('woff'),
    url('../../assets/fonts/Lato/AnyConv.com__Lato-Light.woff2') format('woff2'),
    url('../../assets/fonts/Lato/Lato-Light.ttf') format('ttf');

}
@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Lato/AnyConv.com__Lato-Regular.eot'),
    url('../../assets/fonts/Lato/AnyConv.com__Lato-Regular.woff') format('woff'),
    url('../../assets/fonts/Lato/AnyConv.com__Lato-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Lato/Lato-Regular.ttf') format('ttf');

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato','sans-serif';
    text-decoration: none;
    list-style-type: none;
    font-style: normal;

}

Link {
    cursor: pointer;
}

a {
    cursor: pointer;
}
.body{
    background: #fff;
}
.wsb-canvas-page-container{
    height: 100vw;
}
.mobile-menu button i {
    border: 1px solid #842B1C;
}

.mobile-menu button i:before{
    color: #fff;

}

.icon-wsb-mobile{
    font-family: WSB Mobile Navigation ;
    background-color: transparent;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px;
    height: 40px;
    width: 40px;
}
.phone{

}

.marker{

}

.mobile-hamburger{

}




